* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-background: #ffd933; /* (255, 217, 51) */
  --women-color: #f16087; /* (241, 96, 135) */
  --veteran-color: #588026; /* (88, 128, 38) */
  --minority-color: #d67f31; /* (214, 127, 49) */
  --font-color: navy;
}


.section-title {
  font-size: 48px;
  color: navy;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;   
}

#mission p {
  padding: 15px;
  height: 200px;
  text-align: center;
  font-size: large;
}


#header {
    width: 100%;
    background-image: url(../images/wovemiBanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary-background);
    height: 425px;
    
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



footer {
  background-color: var(--veteran-color);
  font-weight: bold;
  text-align: center;
}

/* w3 CSS overrides */

/*.center-block-element {
  float: none;
  margin: 0 auto;
} */

@media screen and (max-width: 1000px) {
  #map {
    width: 100%;

  }
}
